.error-boundary-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: #4d5964;
  font-weight: 600;
  padding: 10px;
  border: 1px solid #4d5964;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #33899d;
    border: 1px solid #33899d;
  }
}
