html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font:
    400 15px/20px 'Open Sans',
    sans-serif;
  color: #fff;
  background-color: #151515;
  padding: 10px 40px;
}
